<% if model.errors.any? %>
	<h2><%= model.errors.count%>件</h2>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>